        {% extends "AppBlog/padre.html" %}
        {% load static %}

       
        {% block contenidoQueCambia %}

       
        <div class="text-center my-5"></div>
            <h2>Estas listo para comenzar tu viaje espacial?</h2>       
        </div>     

       

        {% for post in posts %} <!-- object_list es una lista de posts -->
        <br>
        <br>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{post.imagen}}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{post.fecha}}</div>
                        <h2 class="card-title h4">{{post.titulo}} , publicado por {{post.autor}}</h2>
                        <p class="card-text">{{post.cuerpo|safe}}</p>
                        <a class="btn btn-primary" href="{% url 'posts_detalle' post.id %}">Leer mas →</a>
                    </div>
                </div>
            </div>
        </div>     
         

        {% endfor %} 
        {% endblock %}
