{% extends "AppBlog/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<title>Logout</title>
<h1>Gracias, le deseamos un gran viaje de regreso al planeta tierra</h1>
<img src="https://img.freepik.com/vector-gratis/caracter-astronauta-traje-espacial-casco-agitando-mano-cosmonauta-masculino-dibujos-animados-explorando-galaxia-mostrando-gesto-saludo-pie-ilustracion-vector-fila-aislado-sobre-fondo-blanco_124507-9499.jpg?w=996"; width="540" height="540">
<br/>
<p><a href="{% url 'inicio' %}">Volver al inicio</a></p> 
{% endblock %}