{% extends "AppBlog/padre.html" %}
{% load static %}

{% block subtitulo %} 
<br/><br/>
<h1>Sobre mi</h1>
{% endblock %}

{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://img.freepik.com/vector-gratis/astronauta-lindos-astronautas-trabajando-espacio-equipo-nave-espacial_176411-1148.jpg?w=826" alt="..." /></a>
        <div class="card-body">
 
            <h2 class="card-title h4">Sobre mi</h2>
            <p class="card-text">Hola, soy Lisandro Artacho. Soy abogado y en mi tiempo libre intento aprender mas sobre el apasionante mundo de la programacion>
                <p>Agradezco a todo el equipo de CoderHouse que me ha permitido crear este contenido.</p>
                <p>He intentado recrear un espacio en el que usuarios pueden compartir imagenes sobre el espacio y su contenido</p>
                <p></p>Desde ya, agradezco tu visita! espero que sea de tu agrado y lo compartas con tus amigos</p>
            </p>
          
        </div>
    </div>

{% endblock %}    




